.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@700&display=swap');

/*HEADER*/

#header {
  background: url('../src/assets/headerphoto.jpg') center center no-repeat;
  background-size: cover;
  height: 100vh;
}

#header-name{
  font-size: 5rem;
  font-weight: 1000;
}

#jumbo{
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  margin: 0rem;
}

#icons{
  display: flex;
  justify-content: center;
}

#github, #linkedIn, #medium, #youtube {
  color: white;
  padding: 16px;
}

#portfolio-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}

#portfolio-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
  margin: 1rem;
  box-shadow: 
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}